{% extends "layout.html.twig" %}

{% block title %} Главная страница {% endblock %}

{% block body %}
    <section class="w-screen h-screen flex justify-center items-center">
        <section class="flex items-center gap-2 w-full max-w-md">
            <a href="/login"
               class="w-full text-center bg-indigo-500 hover:bg-indigo-600 transition text-white font-medium py-2 px-4 rounded-xl">
                Войти
            </a>
            <a href="/register"
               class="w-full text-center bg-indigo-500 hover:bg-indigo-600 transition text-white font-medium py-2 px-4 rounded-xl">
                Зарегистрироваться
            </a>
        </section>
    </section>
{% endblock %}
